body {
	background-image: url("assets/omfgdogs.gif");
	background-repeat:repeat;
}

#websitelink {
	position: fixed;
	bottom: 0;
	right: 0;
}

a:link {
	color:green; 
	font-size:xx-large; 
	font-family:"Lucida Console", Verdana, Sans-serif; 
}

a:visited {
	color:red;
}